body {
    background-image: url('https://practice-pixels.s3.amazonaws.com/texture-paper.jpg');
}

#wrapper {
    width:600px;
    margin:auto; /* Centers the div on the page */
    border:1px solid tan;
    padding:25px;
}

h1 {
  color:#4a4adb;
  font-family:Verdana;
}

h2 {
  color:#4993db;
  font-family:Verdana;
}

p {
  line-height:1.5;
}
