body {
  background-image: url("http://practice-pixels.s3.amazonaws.com/texture-blue.jpg");
  font-size: 62.5%; /* Will make the default browser size 10px */
}
.wrapper {
    width:800px;
    margin:auto; /* Centers the div on the page */
    border-radius: 5px;
    background-color: #FFFFFF;
    padding:5px;
    font-size:1rem; /* 10px */
}
header {
  font-family: 'helvetica';
  text-align: center;
}

header a:link, header a:visited, header a:active, header  a:hover {
    color:#000000;
}

 a:link {
  font-family: 'helvetica';
  color: #D42A1D; /* Rust Orange */
}
 a:visited {
  color: #D42A1D; /* Rust Orange */
 }
 a:hover {
  color:#0B2842; /* Deep Blue */
    }
 a:active {
   color: #D42A1D; /* Rust Orange */
 }

h1 {
  font-family: 'helvetica';
  font-size:2.0rem;
  color: #D42A1D; /* Rust Orange */
  margin:1px;
}

h2 {
  font-family: 'helvetica';
  font-size:1.2rem;
  margin:1px;
}

h3 {
  font-family: 'helvetica';
  font-size:1rem;
  margin:1px;
}

h4 {
  font-family: 'helvetica';
  font-size:1rem;
  font-style: italic;
  margin:1px;
}

p {
  font-family: 'Georgia';
  font-size:1rem;
  line-height: 1.5;
}

.book {
  background-color: #EEEEEE;
  margin:auto;
	margin-bottom:20px;
	padding:10px;
  }
